.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
}

.navitem {
  float: left;
}

.navitem-right {
  float: right;
}

.navitem a {
  display: block;
  color: #FCFCFC;
  text-align: center;
  padding: 1.2rem 1.5rem;
  text-decoration: none;
}

.navitem a:hover {
  background-color: #111;
}