*{
  margin:0;
}

html{
  font-size:1.5vw;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

h1{
  font-family: 'Lato', sans-serif;
  font-size:3rem;
  font-weight: 300;
}

h3{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.8;
}

#name{
  padding-top:10%;
  padding-bottom:5%;
}

#bio{
  padding-left:20%;
  padding-right: 20%;
  padding-bottom:10%;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
  min-height:10vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navitem {
  float: left;
}

.navitem-right {
  float: right;
}

.navitem a {
  display: block;
  color: #FCFCFC;
  text-align: center;
  padding: 1.0rem 1.5rem;
  text-decoration: none;
}

.navitem a:hover {
  background-color: #111;
}

.row{
  display:flex;
}

.column-3{ flex:30%; }
.column-4{ flex:40%; }
.column-5{ flex:50%; }
.column-6{ flex:60%; }
.column-7{ flex:70%; }