*{
  margin:0;
}

html{
  font-size:1.5vw;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size:3rem;
  font-weight: 300;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size:2rem;
  font-weight: 300;
}

h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.deco{
  text-decoration: underline;
  text-decoration-color: #9e1fed;
  text-decoration-style: dashed;
}

.icon{
  width:2rem;
  height:2rem;
}

.icon-link:hover{
  opacity:0.5;
}

#name{
  padding-top:10%;
  padding-bottom:5%;
}

#bio{
  padding-left:20%;
  padding-right: 20%;
  padding-bottom:10%;
}

#mediabox{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:0.5rem 0.5rem;
  width:60%;
  position: absolute;
  bottom:5%;
}

#skills{
  border-top:2px dashed #9e1fed;
  background-color:#EEE;
  padding-top:5%;
  padding-bottom:5%;
}

#awards{
  border-top:2px dashed #9e1fed;
  background-color:#FFF;
  padding-top:5%;
  padding-bottom:5%;
}

#education{
  border-top:2px dashed #9e1fed;
  background-color:#EEE;
  padding-top:5%;
  padding-bottom:5%;
}

#work{
  border-top:2px dashed #9e1fed;
  background-color:#FFF;
  padding-top:5%;
  padding-bottom:5%;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-top:2px solid #9e1fed;
  border-bottom:2px solid #9e1fed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: sticky;
  top:0;
  z-index: 999;
}

.navitem {
  float: left;
}

.navitem-right {
  float: right;
}

.navitem a {
  display: block;
  color: #212121;
  text-align: center;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0.75rem;
  text-decoration: none;
}

.navitem a::after{
  content: '';
  width: 0;
  display: block;
  height: 2px;
  transition: width 0.3s;
  background: #e4eb60 !important;
}

.navitem a:hover::after{
  width: 100%;
}

.navitem a:hover{
  color: #e4eb60 !important;
}

.content{
  padding-left:5%;
  padding-right:5%;
}

.row{
  display:flex;
}

.body{
  padding-left:10%;
  padding-right:5%;
  padding-top:2%;
  padding-bottom:2%;
}

.block{
  padding-right:5%;
  margin-bottom:5%;
}

.column-25{ flex:25%; }
.column-3{ flex:30%; }
.column-4{ flex:40%; }
.column-5{ flex:50%; }
.column-6{ flex:60%; }
.column-7{ flex:70%; }